@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome do projeto do sistema produto</h1>
    Desenvolver um sistema para evoluir profissionalmente e manter a pratica, sempre estudando da melhor forma.</p>
</div>

<div class="alert alert-primary" role="alert">
    Estudar sempre é o caminho certo para crescer profiossionalmente, sempre estudar é o caminho para nosso crescimento, quanto mais estudamos podemos evoluir! É bom sempre a gente estudar para aprimorar o conhecimento! O estudo faz nossa força sempre e nos impulsiona na vida, o mundo tecnologico e digital é o melhor mundo que hoje vivemos, a gente respira programação e tecnologia no dia a dia, tudo hoje, esta no digital, as pessoas quase não se relacionam presencial!
</div>
<div class="alert alert-info" role="alert">
    Aprofundar sempre é importante para evoluir profissionalmente, estudar sempre é o melhor jeito para crescer e o estudo dignifica mais do que trabalhar, pois com o estudo o trablho caminham juntos e a gente é valorizado e ganha bem, pois o estudo tem poder evolutivo, como pessoa e profissional!
</div>